@font-face {
  font-family: 'icomoon';
  src:  url('font/icomoon.eot?g330py');
  src:  url('font/icomoon.eot?g330py#iefix') format('embedded-opentype'),
    url('font/icomoon.ttf?g330py') format('truetype'),
    url('font/icomoon.woff?g330py') format('woff'),
    url('font/icomoon.svg?g330py#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-app:before {
  content: "\e900";
}
.icon-icon-photo:before {
  content: "\e901";
}
.icon-icon-ui:before {
  content: "\e902";
}
.icon-icon-web:before {
  content: "\e903";
}
