// start banner

h1 {
	padding: 0 0 30px;
	color: $white;
}

img {
	width: 100%;
}

.wrapper {
	position: relative;
	overflow: hidden;
}

.container {
	max-width: $base-max-width;
	margin: 0 auto;
	padding: 0 20px 0;
}

.banner {
	background: #3f4049 url(https://i.postimg.cc/C172J9m4/bg-01.png) no-repeat center top;
	background-size: cover;

	@include v-align(775px)

	text-align: center;
}

.banner_title {
	margin: 0 auto;
	max-width: 900px;
	padding:10px 0 10px;

	.icon {
		width: 38px;
		height: 38px;
		margin: 0 auto;
		margin-bottom: 20px;
		border-radius: 50%;

		display: flex;
		align-items: center;
		justify-content: center;
	}

	.first-feature {
		color: $green;

		a {
			color: $green;

			&:hover{
				color: lighten($green, 20%);
				@include animate(color)
			}
		}
	}

	.first-icon {
		border: 2px solid $green;
	}

	.second-icon {
		border: 2px solid $purple;
	}

	.second-feature {
		color: $purple;

		a {
			color: $purple;

			&:hover{
				color: lighten($purple, 20%);
				@include animate(color)
			}
		}
	}

	.third-icon {
		border: 2px solid $yellow;
	}

	.third-feature {
		color: $yellow;

		a {
			color: $yellow;

			&:hover{
				color: lighten($yellow, 20%);
				@include animate(color)
			}
		}
	}

	.feature {
		padding-bottom: 20px;

		a {
			font-weight: 500;
			text-transform: uppercase;
		}
	}
}

.btn {
	border:none;
	background: $btn-background;
	padding: $btn-padding;
	border-radius:30px;
	color: $button-color;
	text-transform:uppercase;
	font-weight:600;
	transition: background-color 1s linear;
	margin-bottom:10%;

	&:hover{
		background: lighten($btn-background, 10%);
		@include animate(background)
	}
}

// End Banner

// start section about_us


.about_us {
	padding: 60px 0;

	.image_with_text_wrap {
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		@include media(">=tablet") {
			@include v-align(1200px);
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}

		.image_wrap {
			width: 92%;
			max-width: 554px;
			height:320px;
			border: 10px solid $abbey;
			background-image:
				linear-gradient(to top, rgba(217,172,165,0.5), rgba(204,204,204,0.3)),
				url(https://i.postimg.cc/TYRJnpnb/image-01.png);
			background-repeat: no-repeat;
		}

		.border_wrap {
			position: relative;
			background: $white-bg;
			box-shadow: 0 0 10px rgba(0,0,0,0.5);

			max-width: 554px;

			&:after {
				margin-top: 20px;
				content:'';
				display: block;
				height: 3px;
				background: linear-gradient(to right,
				#fc5f45 25%,
				#38c695 25%, #38c695 50%,
				#b27cf5 50%, #b27cf5 75%,
				#feb960 75%, #feb960 100%);
			}
		}

		.title_with_text {
			padding: 50px 15px;

			.numeral {
				top: 0;
				align-items: center;
			}

			h2,
			p {
				position: relative;
				z-index: 200;
			}
		}
	}
}

.numeral {
	position:absolute;
	left: 0;
	right: 0;

	font-size: 278px;
	line-height: 207px;
	font-weight: 700;
	color: $alto;
}


// End About


// Start our focus

.our_focus {
	background: $alabaster;
	text-align: center;

	padding-bottom: 30px;
}

h2 {
		padding-bottom: 20px;
	}

.icon_service {
	max-width: 55px;
}

.service {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.title {
	position: relative;
	z-index: 200;
	padding: 130px 0 50px;
}

.service-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	box-shadow: 0 0 10px rgba(0,0,0,0.5);

	max-width: 260px;
	min-height: 200px;
	background: $white-bg;
	padding: 20px 30px;
	margin-bottom: 20px;
}

.icon_service {
	padding-bottom: 30px;
}

.title_service {
	font-size: 20px;
	font-weight: 500;
	padding-bottom: 30px;
}

.first_service-wrap {
	border-bottom: 3px solid $orange;
}

.second_service-wrap {
	border-bottom: 3px solid $green;
}

.third_service-wrap {
	border-bottom: 3px solid $purple;
}

.fourth_service-wrap {
	border-bottom: 3px solid $yellow;
}

// End our focus

// start portfolio

.portfolio {
	background: $alabaster;
	text-align: center;
	padding-bottom: 30px;
}

.portfolio_list {
	padding: 0;

	li {
		display: inline-block;
	}
}


@include media(">=tablet") {
	h1 {
		font-size: 60px;
		padding-bottom: 50px;
	}

	.features {
		display: flex;
		justify-content: space-around;
	}

	.feature {
		margin-right: 20px;
	}

	.third-feature {
		margin:0;
	}

	.image_wrap {
		margin-left: 26px;
		min-width: 535px;
		width:100%;
		min-height: 680px;
	}

	.title_with_text {
		padding: 85px 84px 135px;
	}

	h2 {
		font-size: 50px;
	}

	.numeral {
		font-size: 278px;
	}

	.border_wrap {
		margin: 0 0 0 -70px;

		h2 {
			padding-bottom: 45px;
		}
	}
}


