h1 {
	padding:0 0 10%;
	color:#fff;


	@media screen and (min-width: 1024px) {
		padding-bottom:44px;
	}
}


img {
	width:100%;
}

.wrapper {
	position: relative;
	overflow: hidden;
}

.container {
	max-width: $base-max-width;
	margin:0 auto;
	padding:0 15px 0;
}

.banner {
	background: #3f4049 url(https://i.postimg.cc/C172J9m4/bg-01.png) no-repeat center top;
	background-size:cover;

	text-align:center;
}

.banner_title {
	height:100vh;
	width:100vw;
	display: table-cell;
	vertical-align: middle;	margin:0 auto;
	padding:10px 0 10px;

	@media screen and (min-width: 1024px) {
		height:755px;
		padding:7px 0 13px;
	}

	.icon {
		width:38px;
		height:38px;
		margin:0 auto;
		margin-bottom:20px;
		border-radius:50%;

		display:flex;
		align-items:center;
		justify-content:center;

		@media screen and (min-width: 1024px) {
			margin-bottom:30px;
		}
	}

	.first-item {
		color:#38c695;

		a {
			color:#38c695;
			transition: color 1s linear;
		}

		a:hover {
			color:#71efc4;
		}
	}

	.first-icon {
		border:2px solid #38c695;
	}

	.second-icon {
		border:2px solid #b27cf5;
	}

	.second-item {
		color:#b27cf5;

		a {
			color:#b27cf5;
			transition: color 1s linear;
		}

		a:hover {
			color:#cfacfa;
		}
	}

	.third-icon {
		border:2px solid #feb960;
	}

	.third-item {
		color:#feb960;

		a {
			color:#feb960;
			transition: color 1s linear;
		}

		a:hover {
			color:#ffe0b8;
		}
	}

	.item {
		padding-bottom:20px;

		a {
			font-weight:500;
			text-transform:uppercase;
		}

		@media screen and (min-width: 700px) {
			font-size:1.3em;
			padding-bottom:0;
			margin:0 46px 0;
		}
	}

	.fas,
	.far {
	}

	.items {
		@media screen and (min-width: 700px) {
			display:flex;
			justify-content:center;
		}
	}
}

.btn {
	border:none;
	background:#fc5f45;
	padding:14px 43px;
	border-radius:30px;
	color:#fff;
	text-transform:uppercase;
	font-weight:600;
	transition: background-color 1s linear;
	margin-bottom:10%;
	font-size:1.1em;

	@media screen and (min-width: 1024px) {
		margin-bottom:81px;
	}
}

.btn:hover {
	background:#fa816d;
}

// start section about_us

.about_us {
	padding:148px 10px 10px;

	.image_with_text_wrap {
		display:flex;
		justify-content:space-between;
		align-items:center;

		.image_wrap {
			margin-left:26px;
			min-width:535px;
			min-height:680px;
			border:10px solid #ccc;
			background-image:
				linear-gradient(to top, rgba(217,172,165,0.5), rgba(204,204,204,0.3)),
				url(https://i.postimg.cc/TYRJnpnb/image-01.png);
		}

		.title_with_text {
			position:relative;
			width:100%;
			max-width:652px;
			height:557px;
			padding:10px 15px 10px;
			box-shadow: 0 0 10px rgba(0,0,0,0.5);

			.numeral {
				position:absolute;
				top:-105px;
				left:-11px;
				bottom:0;
			}

			h2,
			p {
				position:relative;
				z-index:200;
			}
		}
	}
}

.numeral {
	font-size:278px;
	font-weight:700;
	color:#e0e0e0;
}


