.mobile_menu_open {
	overflow: hidden;
	position: fixed;
	height: 100vh;
}

header {
	position:relative;
	padding:24px 0 18px;

	.menu {
		text-align: right;
	}

	.logo_with_nav {
		display:flex;
		justify-content:space-between;
		align-items:center;
	}

	.logo {
		width:100%;
		max-width:97px;
		margin-left:26px;
	}

	.menu__icon {
		display: block;
		width: 45px;
		height: 35px;
		position: relative;
		cursor: pointer;

		@media screen and (min-width: 768px) {
			display:none;
		}

		span {
			display: block;
			position: absolute;
			height: 6px;
			width: 100%;
			background: #000;
			border-radius: 9px;
			opacity: 1;
			left: 0;
			transform: rotate(0deg);
			transition: .25s ease-in-out;
		}

		span:nth-child(1) {
			top: 0;
		}

		span:nth-child(2), 
		span:nth-child(3) {
			top: 13px;
		}

		span:nth-child(4) {
			top: 26px;
		}
	}

	.menu__links-item {
		display: inline-block;
		color: #272727;
		font-weight:500;
		font-size: 1em;
		padding: 0 9px;
		cursor: pointer;

		a {
			color: #272727;
			font-size: 1em;
			transition: color 1s linear;

			@media screen and (max-width: 768px) {
				font-size:2em;
				color:#fff;
			}
		}

		a:hover {
			color:#585858;
		}
	}

	.nav_content {
		padding-bottom:10px;
	}

	.show {
		.menu__icon {
			span:nth-child(1) {
				top: 18px;
				width: 0%;
				left: 50%;
			}

			span:nth-child(2) {
				transform: rotate(45deg);
			}

			span:nth-child(4) {
				top: 18px;
				width: 0%;
				left: 50%;
			}
		}

		.nav {
			display: block;
		}
	}

}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 768px) {
	.nav{
		display:none;
	}

	.menu__links {
		position: fixed;
		height:100vh;
		top: 0;
		right: 0;
		left: 0;
		margin-top: 70px;
		background-color: rgba(0, 0, 0, 1);
		z-index: 1000;
		overflow: auto;
		padding:20% 15px 20%;

		display:flex;
		flex-direction: column;
	}

	.menu__links-item {
		display: block;
		padding: 10px 0;
		text-align: center;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.logo {
		margin:0 30px 0 0;
	}

	.menu__links {
		display:flex;
		flex-wrap:wrap;
		justify-content:center;
	}
}